# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# Test runners
r
r.cmd
r-js.cmd
r-silent.cmd
r-usage.cmd
r-verbose.cmd
r-dry-run.cmd
r-exit-code.cmd
r-subst.cmd
r-verbose-debug.cmd

build.cmd
build-binary

_temp/